<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link " routerLink="accueil" aria-selected="true">Accueil</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="gallerie"  aria-selected="false">Gallerie</a>
  </li> <!--elle applique au lien la classe CSS "active" lorsque la route correspond à routerLink-->
  <li class="nav-item">
    <a class="nav-link" href="#" aria-selected="false">A propos</a>
  </li>
 </ul>

