

<div class="row">
  <div class=" col-12 col-md-3">
    <img [src]='col.photoUrl' style="width: 200px; height: 180px">
  </div>

  <div class="col-12 col-md-9">
    <ul>
      <li>
        Matricule : {{col.matricule}}
      </li>
      <li>
        Nom: {{col.nom |uppercase}}
      </li>
      <li>
        Prenom: {{col.prenoms}}
      </li>
      <li> DateNaissance: {{col.dateDeNaissance | date :'dd/MM/yyyy'}}</li>
      <li> Mail: {{col.email}}</li>
      <li> Photo Url: {{col.photoUrl}} </li>
    </ul>
  </div>
</div>

